/ {
    macros {
        amzalias: amzalias {
            label = "AMZALIAS";
            bindings = <&macro_tap "macdmerr">;
        };
        amzem: amzem {
            label = "AMZEM";
            bindings = <&macro_tap "macdmerr@amazon.com">;
        };
        palias: palias {
            label = "PALIAS";
            bindings = <&macro_tap "macmerritt90">;
        };
        pem: pem {
            label = "PEM";
            bindings = <&macro_tap "macmerritt90@gmail.com">;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // Layer 0: Base Layer (Colemak, as in your QMK example)
        layer_0 {
            bindings = <
                &kp TAB   &kp Q   &kp W   &kp F   &kp P   &kp B   &kp J   &kp L   &kp U   &kp Y   &kp SCLN   &kp BSLASH
                &kp ESC   &mt LALT A   &mt LCTRL R   &mt LSHFT S   &mt LGUI T   &kp G   &kp M   &mt RGUI N   &mt RSHFT E   &mt RCTRL I   &mt RALT O   &kp QUOTE
                &kp LSHFT &kp Z   &kp X   &kp C   &kp D   &kp V   &kp K   &kp H   &kp COMMA   &kp DOT   &kp SLASH   &kp RSHFT
                &kp TAB   &kp BSPC   &mo 2   &mo 3   &kp SPC   &to 1
            >;
        };

        // Layer 1: QWERTY Layer
        layer_1 {
            bindings = <
                &kp TAB   &kp Q   &kp W   &kp E   &kp R   &kp T   &kp Y   &kp U   &kp I   &kp O   &kp P   &kp BSLASH
                &kp ESC   &mt RSHFT A   &mt LALT S   &mt LCTRL D   &mt LGUI F   &kp G   &kp H   &mt RGUI J   &mt RCTRL K   &mt RALT L   &mt RSHFT SCLN   &kp QUOTE
                &kp LSHFT &kp Z   &kp X   &kp C   &kp V   &kp B   &kp N   &kp M   &kp COMMA   &kp DOT   &kp SLASH   &kp RSHFT
                &to 0   &kp BSPC   &mo 2   &mo 3   &kp SPC   &to 1
            >;
        };

        // Layer 2: Macro/Function Layer (partial example)
        layer_2 {
            bindings = <
                &none &kp TAB &kp LS(TAB) &kp RGUI(F) &kp LGUI(LBKT) &amzalias &amzem &kp RCTRL(LEFT) &kp RCTRL(RGHT) &kp LALT(BSPC) &kp DOWN &none
                &none &kp 1 &kp 2 &kp 3 &kp 4 &kp 5 &kp 6 &kp 7 &kp 8 &kp 9 &kp 0 &none
                &none &kp ESC &none &kp LEFT &kp RGHT &palias &pem &kp UP &kp DOWN &kp LGUI(LBKT) &kp LGUI(RBKT) &none
                &to 0 &none &trans &kp ENTER &kp RGUI(RSFT(4)) &to 1
            >;
        };

        // Repeat for layers 3, 4, 5 as needed, following this pattern.
    };
};
